<a href="https://colab.research.google.com/github/lily01awasthi/Gen_AI_For_Data_Engineering/blob/main/etl_using_gen_ai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# ETL Using Gen-AI

In [4]:
import pandas as pd
URL = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMSkillsNetwork-AI0273EN-SkillsNetwork/labs/v1/m2/data/Indian%20Liver%20Patient%20Dataset%20%28ILPD%29.csv"

df = pd.read_csv(URL)

In [5]:
print(df.head())

   Age  Gender  Total_Bilirubin  Direct_Bilirubin  Alkaline_Phosphotase  \
0   65  Female              0.7               0.1                   187
1   62    Male             10.9               5.5                   699
2   62    Male              7.3               4.1                   490
3   58    Male              1.0               0.4                   182
4   72    Male              3.9               2.0                   195

   Alamine_Aminotransferase  Aspartate_Aminotransferase  Total_Proteins  \
0                        16                          18             6.8
1                        64                         100             7.5
2                        60                          68             7.0
3                        14                          20             6.8
4                        27                          59             7.3

   Albumin  Albumin and Globulin Ratio  Selector
0      3.3                        0.90         1
1      3.2                        0.74         1
2      3.3                        0.89         1
3      3.4                        1.00         1
4      2.4                        0.40         1

In [6]:
from sklearn.preprocessing import LabelEncoder

# Assuming df is your Pandas dataframe
categorical_cols = df.select_dtypes(include=['object']).columns

label_encoders = {}
for col in categorical_cols:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le

# label_encoders dictionary stores the LabelEncoders for each categorical column

In [7]:
print(df.head())

   Age  Gender  Total_Bilirubin  Direct_Bilirubin  Alkaline_Phosphotase  \
0   65       0              0.7               0.1                   187
1   62       1             10.9               5.5                   699
2   62       1              7.3               4.1                   490
3   58       1              1.0               0.4                   182
4   72       1              3.9               2.0                   195

   Alamine_Aminotransferase  Aspartate_Aminotransferase  Total_Proteins  \
0                        16                          18             6.8
1                        64                         100             7.5
2                        60                          68             7.0
3                        14                          20             6.8
4                        27                          59             7.3

   Albumin  Albumin and Globulin Ratio  Selector
0      3.3                        0.90         1
1      3.2                        0.74         1
2      3.3                        0.89         1
3      3.4                        1.00         1
4      2.4                        0.40         1

In [8]:
import sqlite3
import pandas as pd

# Assuming df is your Pandas dataframe
conn = sqlite3.connect('Patient_record.db')
df.to_sql('Liver_patients', conn, index=False)

# Query the database to print the first entries in the table
query = "SELECT * FROM Liver_patients LIMIT 5"
result = pd.read_sql(query, conn)
print(result)

   Age  Gender  Total_Bilirubin  Direct_Bilirubin  Alkaline_Phosphotase  \
0   65       0              0.7               0.1                   187
1   62       1             10.9               5.5                   699
2   62       1              7.3               4.1                   490
3   58       1              1.0               0.4                   182
4   72       1              3.9               2.0                   195

   Alamine_Aminotransferase  Aspartate_Aminotransferase  Total_Proteins  \
0                        16                          18             6.8
1                        64                         100             7.5
2                        60                          68             7.0
3                        14                          20             6.8
4                        27                          59             7.3

   Albumin  Albumin and Globulin Ratio  Selector
0      3.3                        0.90         1
1      3.2                        0.74         1
2      3.3                        0.89         1
3      3.4                        1.00         1
4      2.4                        0.40         1